<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>PCS Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container-fluid" style="height: 100vh;">
        <div class="d-flex justify-content-center align-items-center h-75">
            <form name="f" th:action="@{/login}" method="post">
                <div class="fs-3 fw-bold mb-3">Login with Username and Password</div>
                <div th:if="${param.error}" class="d-flex justify-content-between alert alert-danger alert-dismissible fade show px-2" role="alert">
                    Invalid username and password.
                    <button type="button" class="close" onclick="redirectToLoginPage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${param.sessionError}" class="d-flex justify-content-between alert alert-danger alert-dismissible fade show px-2" role="alert">
                    Session already in use.
                    <button type="button" class="close" onclick="redirectToLoginPage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${param.logout}" class="d-flex justify-content-between alert alert-success alert-dismissible fade show px-2" role="alert">
                    You have been logged out.
                    <button type="button" class="close" onclick="redirectToLoginPage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row mb-1 d-flex align-items-baseline">
                    <label for="username" class="col-12 col-md-3">Username:</label>
                    <input type="text" id="username" name="username" class="col-12 col-md-6 p-1 border-info"/>
                </div>
                <div class="row mb-1 d-flex align-items-baseline">
                    <label for="password" class="col-12 col-md-3" >Password:</label>
                    <input type="password" id="password" name="password" class="col-12 col-md-6 p-1 border-info bg-light" />
                </div>
                <div>
                    <button type="submit" class="border border-secondary bg-secondary-subtle table-hover text-dark">Login</button>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-end h-25">
            <img th:src="@{/images/pcs-banner.PNG}" alt="pcs logo" class="img-fluid col-4 col-md-2 ms-auto"/>
        </div>

    </div>
    <script th:src="@{/js/pcs.js}"></script>
</body>
</html>